body {
  background-image: url('Pictures/114617b.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}
#center {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 50%;
  width: 50%;
  margin: auto;
}
.registerbtn {
  background-color: white;
  color: black;
  padding: 10px;
  width: 162px;
  margin: 20px;
}
.registerbtn:hover {
  color: crimson;
  background-color: #000000;
}
#pass {
  padding-bottom: 5px;
}
#buttonbox {
  margin-top: 25px;
}
#backchangewhite {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
}
.left {
  height: 100%;
  position: fixed;
  top: 0;
  width: 25%;
  left: 0;
  background-color: rgb(71, 37, 63);
}
.right {
  height: 100%;
  position: fixed;
  top: 0;
  width: 75%;
  right: 0;
  background-color: white;
}
.image1 {
  width: 60%;
  height: 60%;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  margin: 10px;
  border: 1px solid black;
}
.image2{
  width: 10%;
  height: 10%;
  min-width:100px;
  min-height:100px;
  border-radius:50%;
  border: 1px solid black;
  margin: 10px;
}
h1 {
  font-size: 40px;
  color: white;
}
p {
  color: white;
  font-size: 30px;
}
.userTableHeader,
.userTableRow {
  text-align: left;
  border: 2px solid black;
}
.userTableHeader {
  background-color: rgb(71, 37, 63);
  color: white;
  height: 4px;
}
.userTableRow {
  padding: 20px;
  height: px;
}
.userTable {
  margin: 3vw auto;
  width: 80%;
  height: 200px;
}
.top {
  width: 100%;
  height: 20%;
  top: 0;
  left: 0;
  background-color: white;
}
.middle {
  width: 100%;
  height: 20%;
  background-color: white;
}
.bottom {
  width: 100%;
  height: 20%;
  bottom: 0;
  right: 0;
  background-color: white;
}
.btnuser, #userTableBtn, #infoUpdateBtn, #scheduleUpdateBtn {
  color: white;
  background-color: rgb(55, 55, 158);
  width: 140px;
  height: 45px;
  font-size: 15px;
  font-weight: 50%;
  margin: 10px;
}
.btnUser:hover, #userTableBtn:hover, #infoUpdateBtn:hover, #scheduleUpdateBtn:hover {
  color: rgb(254, 0, 0);
  background-color: white;
  font-weight: 70%;
}
#infoCancelBtn, #scheduleReturnBtn {
  color: white;
  background-color: rgb(166, 18, 18);
  width: 140px;
  height: 45px;
  font-size: 15px;
  font-weight: 50%;
  margin: 10px;
}
#infoCancelBtn:hover, #scheduleReturnBtn:hover {
  color: rgb(254, 0, 0);
  background-color: white;
  font-weight: 70%;
}
#scheduleSaveBtn{
  color: white;
  background-color: rgb(3, 140, 38);
  width: 140px;
  height: 45px;
  font-size: 15px;
  font-weight: 50%;
  margin: 10px;
}
#scheduleSaveBtn:hover{
  color: rgb(254, 0, 0);
  background-color: white;
  font-weight: 70%;
}
#updatebtn {
  color: white;
  background-color: rgb(55, 55, 158);
  width: 60%;
  min-width: 80px;
  height: 40px;
  font-size: max(1vw, 12px);
  font-weight: 50%;
}
#updatebtn:hover {
  color: rgb(254, 0, 0);
  background-color: white;
  font-weight: 70%;
}
#logoutbtn {
  color: white;
  background-color: rgb(75, 0, 0);
  width: 60%;
  min-width: 80px;
  height: 40px;
  font-size: max(1vw, 12px);
  font-weight: 50%;
}
#logoutbtn:hover {
  color: rgb(254, 0, 0);
  background-color: white;
  font-weight: 70%;
}
.label {
  color: white;
}
.userInfo {
  border: #000000 10px solid;
  width: 100px;
  background-color: rgb(71, 37, 63);
  color: white;
}
#newInfo {
  width: 40%;
  background-color: rgb(205, 205, 205);
  color: black;
  margin: 10px;
}
